body {
	margin: 0;
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #DDDDDD;
	height: 100%;
	min-height:100%;
   position:relative;
}

a {
	color: #00B7FF;
}

header {
	width: 100%;
	overflow: hidden;
	top: 1%;
	background-color: #CCCCCC;
	height: 5%;
}

.title {
	margin-left: 2%;
	color: #00B7FF;
	font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	width: 80%;
	float: left;
}

.username {
	color: #00B7FF;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: right;
	float: left;
}

.checkbox {
	float: right;
}

footer {
	background-color: #CCCCCC;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 3%;
	width: 100%;
	bottom: 0;
    position: fixed;
}

footer div {
	padding-top: 8px;
	width: 95%;
    text-align: right;
	color: #666666;	
}

main ul {
	list-style: none outside none;	
}

main ul li {
	border: 1px solid #999999;
	margin: 0 0 3px 0;
}

main ul li:hover {
	background-color: #CCCCCC;
}

main {
	padding:10px;
	padding-bottom:10px;
	min-height:100%;
	width: 60%;
}

button {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #1178FF;
	color: #00D9FF;
	float: right;	
}